.project.metadata
.metadata/.plugins/org.eclipse.cdt.core/.log

.metadata/.plugins/org.eclipse.core.resources/.projects/CopernicusMobile/.markers

.metadata/.plugins/org.eclipse.core.resources/.projects/CopernicusMobile/.indexes/e4/52/eb/4f/history.index

.metadata/.plugins/org.eclipse.core.resources/.root/19.tree

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.jdt.core/4171172949.index

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml

.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml

.metadata/.plugins/org.eclipse.core.resources/.projects/CopernicusMobile/org.eclipse.jdt.core/state.dat
