<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="false">
  <test name="IOSTesting">
    <classes>
        <class name="se.copernicus.IOS.IOSDeviceTest"/>
        <class name="se.copernicus.IOS.IOSSimulatorTest"/>
        <class name="se.copernicus.Android.AndroidDeviceTest"/>
      </classes>
  </test> <!-- IOSTesting -->
</suite> <!-- TestSuite -->
