<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>© 2014 Copernicus Mobile
For more information go to http://www.exicom.se or App Store (cTimeSheet)</string>
			<key>Title</key>
			<string>Copernicus Mobile cTimeSheet</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
	<key>Title</key>
	<string>Module</string>
</dict>
</plist>
