<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>No</string>
			<key>False Value</key>
			<string>YES</string>
			<key>Key</key>
			<string>privateComment_key</string>
			<key>Title</key>
			<string>Private Comment</string>
			<key>True Value</key>
			<string>YES</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>No</string>
			<key>False Value</key>
			<string>YES</string>
			<key>Key</key>
			<string>adjustedHours_key</string>
			<key>Title</key>
			<string>Adjusted Hours</string>
			<key>True Value</key>
			<string>YES</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>No</string>
			<key>False Value</key>
			<string>YES</string>
			<key>Key</key>
			<string>priceDeviation_key</string>
			<key>Title</key>
			<string>Price Deviation</string>
			<key>True Value</key>
			<string>YES</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>TimeFactor Title</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Time Factor</string>
			<key>Key</key>
			<string>timefactorkey</string>
			<key>DefaultValue</key>
			<integer>25</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>5</integer>
				<integer>25</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>1</string>
				<string>5</string>
				<string>25</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Calendar Title</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Events Search by</string>
			<key>Key</key>
			<string>calendarsearchkey</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Title</string>
				<string>Location</string>
				<string>Title and Location</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Show  Numeric Representation Title</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show numeric representation</string>
			<key>Key</key>
			<string>showNumericRepresentationKey</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Timereport Representation Title</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>row1</string>
			<key>Key</key>
			<string>formatTimereportRow1Key</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>noSelection</string>
				<string>customer</string>
				<string>project</string>
				<string>activity</string>
				<string>task</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>row2Field1</string>
			<key>Key</key>
			<string>formatTimereportRow2Field1Key</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>noSelection</string>
				<string>customer</string>
				<string>project</string>
				<string>activity</string>
				<string>task</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>row2Field2</string>
			<key>Key</key>
			<string>formatTimereportRow2Field2Key</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>noSelection</string>
				<string>customer</string>
				<string>project</string>
				<string>activity</string>
				<string>task</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Missing Timereport Title</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>missingTimereportRange</string>
			<key>DefaultValue</key>
			<integer>6</integer>
			<key>Title</key>
			<string>WeekMissingTimereportRange</string>
			<key>Values</key>
			<array>
				<integer>3</integer>
				<integer>6</integer>
				<string>12</string>
			</array>
			<key>Titles</key>
			<array>
				<string>3</string>
				<string>6</string>
				<string>12</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>NoticeToProjectManager</string>
			<key>File</key>
			<string>NoticeToProjectManager</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Key</key>
			<string>readOnlyVersion_key</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>about</string>
			<key>Title</key>
			<string>About</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
